# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Arquivos de dependências
node_modules/
package-lock.json

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos de build
dist/
build/
*.log 